body {
    background-color: #f8f9fa;
}

.login-container {
    max-width: 990px;
    max-height:990px;
    margin: 50px auto;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.hidden{
    display:none;
}

.login-form {
    padding: 50px;
}

.login-image {
    background: url('../imgs/login/Athlead-loginBanner.png') no-repeat center center;
    background-size:cover;
}

.btn-google {
    background: white;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}


.registration-image {
    background: url('../imgs/login/Athlead-loginBanner.png') no-repeat center center;
    background-size:cover;
}

.registration-form {
    padding: 50px;
}

.registration-container {
    max-width: 1120px;
    margin: 50px auto;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
